@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


<div><a href="QuickGridServerRenderingPage">QuickGridPage Interactive Server</a></div>
<div><a href="QuickGridWebAssemblyRenderingPage">QuickGridPage Interactive WebAssembly</a></div>
