::deep table { min-width: 100%; }
::deep th.company-name { width: 14rem; }

/* Subtle stripe effect */
::deep tr:nth-child(even) { background: rgba(255,255,255,0.4); }

/* Don't collapse rows even if they are empty */
::deep tbody tr { height: 1.8rem; }
